body {
    background: url(bg.png) no-repeat 50% 0 transparent;
    min-height: 7928px;
}

.record {
    width: 120px;
    height: 120px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
}

.record svg {
    width: 120px;
    height: 120px;
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.record:hover svg {
    fill: #cccccc;
}

.record.active svg {
    fill: #990000;
}

#mouse {
    background: #000;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}
